<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/public/css/icon.css">
    <!--<link rel="stylesheet" href="public/css/grid-layout.css">-->
    <link rel="stylesheet" href="/public/css/material.indigo-red.min.css">
</head>
<body>
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-drawer">
    <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">首页</span>
            <!-- Add spacer, to align navigation to the right -->
            <div class="mdl-layout-spacer"></div>
            <!-- Navigation. We hide it in small screens. -->
            <nav class="mdl-navigation mdl-layout--large-screen-only">
                <a class="mdl-navigation__link" href="">图片</a>
                <a class="mdl-navigation__link" href="">音乐</a>
                <a class="mdl-navigation__link" href="">视频</a>
                <a class="mdl-navigation__link" href="">应用</a>
                <a class="mdl-navigation__link" href="">文件</a>
            </nav>
        </div>
    </header>
    <div class="mdl-layout__drawer">
        <span class="mdl-layout-title">Match</span>
        <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">首页</a>
            <a class="mdl-navigation__link" href="">图片</a>
            <a class="mdl-navigation__link" href="">音乐</a>
            <a class="mdl-navigation__link" href="">视频</a>
            <a class="mdl-navigation__link" href="">应用</a>
            <a class="mdl-navigation__link" href="">文件</a>
        </nav>
    </div>
    <main class="mdl-layout__content">
        <div class="page-content">
        </div>
    </main>
</div>
<script src="public/js/vue.js" type="text/javascript"></script>
<script src="public/js/material.min.js"></script>
<script type="text/javascript">
    new Vue(
    )
</script>
</body>
</html>