<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="public/css/share.css">
    <!--<link rel="stylesheet" href="public/css/icon.css">-->
    <link rel="stylesheet" href="public/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="public/css/materialize.css">
    <link rel="stylesheet" href="public/css/material.indigo-red.min.css">
    <script type="text/javascript" src="public/js/jquery-2.1.1.min.js"></script>
</head>
<body>
<div id="toast-t" class="mdl-js-snackbar mdl-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
</div>
<div class="mdl-layout mdl-js-layout">
    <main class="mdl-layout__content">
        <div class="page-content" id="share-app">
        </div>
    </main>
</div>
<script type="text/javascript" src="public/js/vue.js"></script>
<script type="text/javascript" src="public/js/material.min.js"></script>
<script type="text/javascript" src="public/js/materialize.min.js"></script>
<script type="text/javascript">
    var DATA =
    new Vue(DATA);
</script>
</body>
</html>