<style>
    .mdl-button--fab{position:fixed;right:60px;bottom:40px;z-index:100}
    .waves-effect-link{color: #757575;outline: none;}
    .waves-effect-link:focus,.waves-effect-link:hover{color: #3F51B5;}
    .waves-effect-link i{outline: none;font-size: 20px !important;}

    .file-icon{width:50px;height:50px;}
    #files-table td{padding:5px 5px;}
    #spinner{position:fixed;left:50%;top:50%;}
    .hidden{display:none}
</style>
<div id="app">
    <table class="striped">
        <thead>
        <tr>
            <th data-field="id">名称</th>
            <th data-field="price">操作</th>
            <th data-field="name">大小</th>
        </tr>
        </thead>
        <tbody id="files-table">

        </tbody>
    </table>
    <div class="empty-message">这里什么都没有...</div>
    <div id="spinner" class="mdl-spinner mdl-js-spinner"></div>
    <button data-target="bottom-modal"
            class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored modal-trigger">
        <i class="material-icons">add</i>
    </button>
</div>

<script id="template" type="x-template">
    <tr  v-for="file in files">
        <td>
            <a v-if="file.is_dir" title="打开文件夹" href="javascript:enter( {{$index}} )">
                <img v-bind:src="'public/images/'+file.icon"  class="file-icon">
                {{file.name}}
            </a>
            <a v-else type="download" title="下载" href="files/any/{{file.name}}?path={{file.path}}">
                <img v-bind:src="'public/images/'+file.icon"  class="file-icon">
                {{file.name}}
            </a>
        </td>
        <td>
            <a v-if="file.is_dir" class="waves-effect-link" title="打开文件夹" href="javascript:enter({{$index}} )">
                <i id="open-icon-{{file.name}}" class="waves-effect mdi mdi-arrow-right"></i>
                <div class="mdl-tooltip" for="open-icon-{{file.name}}">
                    打开
                </div>
            </a>
            <a v-else type="download"  class="waves-effect-link" title="下载" href="files/any/{{file.name}}?path={{file.path}}">
                <i id="download-icon-{{file.name}}" class="waves-effect mdi mdi-download"></i>
                <div class="mdl-tooltip" for="download-icon-{{file.name}}">
                    下载
                </div>
            </a>
        </td>
        <td>{{file.size}}</td>
    </tr>
</script>
<script type="text/javascript" src="public/js/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="public/js/dmuploader.min.js"></script>
<script type="text/javascript" src="public/js/file_upload.js"></script>
<script type="text/javascript" src="public/js/file_helper.js"></script>
<script type="text/javascript">
    var BASE_URL = "/files/index.html?path=",canPushState = false;
    var current_path = "",_path = "",all_files;
    var loadSpinner;
    $(document).ready(function(){
        $('.modal-trigger').leanModal();
        loadSpinner = $("#spinner");
        getFileList(getUrlParamPath());
    });

    function getFileList(path){
      loadSpinner.addClass("is-active");
      $(".empty-message").addClass("hidden");
      $.ajax({url:"../../files/file_list.html",data:{path:path},dataType:"json",
          success:function(result){
              current_path = _path;
              if(canPushState){
                 newURL = BASE_URL + current_path;
                 history.pushState(null, "文件", newURL);
              }
              all_files = processResult(result);
              new Vue({
                el: '#files-table',
                replace: false,
                data:all_files,
                template: "#template"
              });
              if(getJsonArrayLength(all_files.files)==0){
                  Toast("该文件夹是空的哟!");
                  $(".empty-message").removeClass("hidden");
              }
          },
          error:function(){
              Toast("数据请求错误!");
          },
          complete:function(){
              loadSpinner.removeClass("is-active");
          }
      });
    }

    function processResult(jsonData){
       for(var key in jsonData.files){
         jsonData.files[key].path = current_path+"/"+jsonData.files[key].name;
         if(jsonData.files[key].is_dir){
            jsonData.files[key].icon = "filesystem_icon_folder.png";
         }else{
            jsonData.files[key].icon = getFileIcon(jsonData.files[key].name);
            jsonData.files[key].size = uniformFileSize(jsonData.files[key].size);
         }
       }
       return jsonData;
    }

    function enter(index){
       canPushState =true;
       _path = all_files.files[index].path;
       getFileList(_path);
    }

    $(window).on("popstate", function(event) {
       canPushState = false;
       var state = event.originalEvent.state;
       getFileList(getUrlParamPath());
    });

    function getUrlParamPath(){
       reg = /path=(\S+)/;
       regMatch = reg.exec(location.search);
       _path = decodeURI(regMatch === null ? "" : regMatch[1]);
       return _path;
    }
</script>